<section class="about container">
    <div class="about--container">
      <h2 class="about__title">ABOUT ME</h2>
      <div class="about__info">
      <h4 class="about__subtitle">I am a front-end developer based in Helsinki.  </h4>
      <p class="about__text">
        I am a front-end developer based in Helsinki with a background in Information and Communication Technology.
         I enjoy building clean, user-friendly websites and solving complex challenges.
          At the moment, I'm diving deeper into backend technologies and exploring how AI can bring smarter solutions to projects.
           When I'm not coding, I enjoy football, MMA, and exploring how AI can reshape the future of technology.
      </p>
      <a class="about__link" href="#">MORE ABOUT ME<a/>
      </div>
      <img src="Images/image-about.png" class="about__image" />
    </div>
  </section>