<section class="my--experience container">
    <div class="my--experience-container">
      <h3 class="my__experience_title">MY EXPERIENCE</h3>

      <div class="experience__entries">
        <div class="experience__entry">
          <div class="experience__header">
            <h5 class="experience__job_title">Freelance Developer</h5>
            <p class="experience__dates">Nov 2023 — Present</p>
          </div>
          <p class="experience__description">
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur.
          </p>
        </div>

        <div class="experience__entry">
          <div class="experience__header">
            <h5 class="experience__job_title">Front-End Intern</h5>
            <p class="experience__dates">Sep 2023 — Nov 2023</p>
          </div>
          <p class="experience__company">Roos Tech</p>
          <p class="experience__description">
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
    </div>
  </section>