<section class="my--capabilities container">
    <div class="my--capabilities-container">
      <h3 class="my__capabilities_title">MY CAPABILITIES</h3>
      <div class="my__capabilities_content">
        <p>I am always expanding my capabilities to deliver better results.
           From mastering new technologies to exploring innovative tools, I aim to create solutions that are efficient,
            user-friendly, and impactful for every project I take on.</p>
        <div class="my__capabilities_skills"> 
            <span class="skill">HTML</span>
            <span class="skill">CSS</span>
            <span class="skill">JavaScript</span>
            <span class="skill">React</span>
            <span class="skill">Typescript</span>
            <span class="skill">Figma</span>
            <span class="skill">Tailwind CSS</span>
            <span class="skill">Git/Github</span>
        </div>
      </div>
    </div>
   </section>